@use "./partials/_colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

body {
  // background-color: $color-neutral-white;
  .bg-top {
    top: 0;
    background-image: url(../images/bg-pattern-top-desktop.svg);
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;

    position: absolute;
  }
  .bg-bottom {
    bottom: 0;
    right: 30rem;
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;

    position: absolute;
  }
}

.container {
  margin-top: 7rem;
}
.main-text {
  h1 {
    font-weight: 700;
    font-size: 3rem;
    color: $color-primary-vdarkmagenta;
    line-height: 2.5rem;
    max-width: 20rem;
  }
  p {
    margin-top: 1rem;
    color: $color-primary-vdarkmagenta;
    max-width: 25rem;
  }
}

.star-rating {
  background-color: $color-neutral-lgmagenta;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  margin: 1rem;
}

.second-rating {
  // margin-left: 3rem;
}

.thrd-rating {
  // margin-left: 6rem;
}

.star-rating-stars {
  width: 17px;
  height: 16px;
  margin: 0 3px;
}

.stars-container {
  margin: 1em;
}

.star-rating-text {
  margin: 1em;
  font-weight: bold;
  color: $color-primary-vdarkmagenta;
}

.testimonial-card {
  border-radius: 3%;
  padding: 2rem;
  height: 100%;
  background-color: $color-primary-vdarkmagenta;
  .testimonial-name {
    img {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
    .testimonial-name-p {
      color: $color-neutral-white;
    }
    .testimonial-name-span {
      color: $color-primary-softpink;
    }
  }
  .testimonial-p {
    color: $color-neutral-white;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: 3rem;
  }
  .main-text,
  .main-stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .first-rating,
  .second-rating,
  .thrd-rating {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .star-rating {
    flex-direction: column;
    height: 100%;
    width: 100%;
    .stars-container {
      margin: 0.5rem;
    }
    .star-rating-text {
      margin: 0.5rem;
    }
  }

  body {
    .bg-top {
      top: 0;
      background-image: url(../images/bg-pattern-top-mobile.svg);
      width: 100%;

      background-repeat: no-repeat;

      position: absolute;
    }
    .bg-bottom {
      bottom: 0;

      background-image: url(../images/bg-pattern-bottom-mobile.svg);
      width: 100%;

      background-repeat: no-repeat;

      position: absolute;
    }
  }
}
