$color-primary-vdarkmagenta: hsl(300, 43%, 22%);
$color-primary-softpink: hsl(333, 80%, 67%);
$color-neutral-dgmagenta: hsl(303, 10%, 53%);
$color-neutral-lgmagenta: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);

